body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main-header {
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
    padding: 16px;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.file {
    color: rgb(56, 62, 56);
}

.folder {
    color: #ffdf85;
}

.card i {
    font-size: 50px;
    margin-bottom: 8px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card div {
    max-width: 100%;
    word-break: break-all; /* Break words if necessary */
    overflow-wrap: anywhere; /* Ensure words break inside the container */
}
